
.bmi-popup{
    position: absolute;
      width: 500px;
      height: 400px;
      background: black;
    //   display: none;
      color: white;

      .close{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: white;
        color: black;
        display: grid;
        place-items:center ;
      }
}
.close-model{
    display: none;
}