.delivery-section {
  display: flex;
  // grid-template-rows: 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
  margin-bottom: 4rem;

    @media screen and (max-width: 700px) {
        flex-direction: column;
    }
  .grid-el {
    display: grid;
    place-items: center;
    &-cont {
      &-1 {
        height: 200px;
        flex: 50%;
      }
      &-2 {
        height: 200px;
        flex: 50%;
      }
    }
  }
}
